<a href="https://colab.research.google.com/github/ErisonBarros/bookpython_ufpe/blob/master/Introdu%C3%A7%C3%A3o_ao_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa2jYkrFEloPmvbODW2OEUKAXdf6vpK1xmYYTANjlwjfczR-18y9RJ-u47CkD3L8sV-ZE&usqp=CAU)
# Introdução ao Python

###    Prof: Erison Barros

## 1.1 - Hello World - Alô Mundo

### <font color='gray'>Utilize a função print() para que seja apresentada na tela a frase "Alô Mundo"</font>
Sintaxe:
<font color='red'>print()<font>

In [3]:
print("Olá Mundo")

Olá Mundo

## 1.2 - Comentários no programa

### <font color='gray'>Utilize '#' para inserir uma linha de comentário no programa. Comentários claros e pertinentes são fundamentais para  o desenvolvimento e manutenção de um bom programa.</font>

In [4]:
# Esta á uma linha de comentário exemplo. Crie uma você também na célula abaixo com:
# Nome: ; Data Última Alteração:  
# comente também a célula com o "Olá Mundo"

## 1.3 - Utilizando Variáveis
![image.png](attachment:image.png)
### <font color='gray'>Grave o texto "Olá mundo, meu nome é " em uma variável chamada textoPadrao</font>

In [5]:
# gravando o textoPadrao em uma variável
textoPadrao = "Olá mundo, meu nome é "

## 1.4 - Capturando o nome da pessoa pelo teclado


### <font color='gray'>Utilize a função input() para capturar o nome da pessoa pelo teclado e guarde os dados em uma variável chamada "nome"</font>

In [6]:
nome = input("Qual seu nome? ")

Qual seu nome? Erison

### <font color='gray'>Apresente na tela o resultado final do textoPadrao junto com a frase</font>

In [7]:
# Use a função print() para mostrar a concatenação do texto padrão com o nome
print(textoPadrao + nome)

Olá mundo, meu nome é Erison

## 1.5 - Vamos calcular se o ano de nascimento da pessoa é bissexto ou não!

### <font color='gray'>O primeiro passo é caputrar o ano de nascimento através do teclado e guardá-lo em uma variável</font>

In [8]:
anoNascimento = int(input("Em que ano você nasceu? "))

Em que ano você nasceu? 1980

### <font color='gray'>Agora verificamos se o ano é bissexto utilizando o operador de módulo '%' (resto da divisão) e apresentamos na tela o resultado</font>

In [9]:
if (anoNascimento % 4) == 0:
    print("Você nasceu em um ano bissexto")
else:
    print("Você não nasceu em um ano bissexto")

Você nasceu em um ano bissexto

## 2.1 - Calculando somatória de 1 a N

### <font color='gray'>Inicialmente iremos capturar o número do usuário pelo teclado</font>

In [10]:
perguntaNumero = input("De qual número iremos calcular a somatória de 1 a N? ")

De qual número iremos calcular a somatória de 1 a N? 5

### <font color='gray'>- Vamos utilizar o comando "for" para calcular a soma dos números
- Iremos utilizar também as funções: 
    - int() para converter de string para inteiro
    - range() para determinar o intervalor da repetição do For


</font>

In [11]:
somatoria = 0
for i in range(1, int(perguntaNumero) + 1):
    somatoria = somatoria + i

### <font color='gray'> Apresentando o resultado final na tela:</font>
- Iremos utilizar também a função: 
    - str() para converter de inteiro para string

In [14]:
print("A somatória de 1 a " + perguntaNumero + " é " + str(somatoria))

A somatória de 1 a 5 é 15


## 2.2 - Criando uma Lista

In [16]:
goleirosSPFC = ["Poy", "Suly", "Waldir Peres", "Gilmar", "Zetti", "Rogério Ceni"]

In [17]:
goleirosSPFC

['Poy', 'Suly', 'Waldir Peres', 'Gilmar', 'Zetti', 'Rogério Ceni']

## 2.3 - Recuperando trechos e elementos de uma lista

### <font color='gray'> Agora vamos recuperar nomes através do índice, capturado pelo teclado</font>

In [18]:
posicao = input("Você quer saber o nome de qual posição na lista? Observação: deve ser um número de 0 a " + str(len(goleirosSPFC) - 1) + "\n")
print(goleirosSPFC[int(posicao)])

Você quer saber o nome de qual posição na lista? Observação: deve ser um número de 0 a 5
1
Suly

### <font color='gray'> Recuperando trechos (slices) de uma lista. Observe o comportamento de acordo com os índices informados </font>

- Lista elementos de 1 a 3 - observação: o segundo índice é EXCLUSIVO, não fará parte da seleção

In [27]:
goleirosSPFC[1:3]

['Suly', 'Waldir Peres']

- Lista elementos de 1 até o final

In [28]:
goleirosSPFC[1:]

['Suly', 'Waldir Peres', 'Gilmar', 'Zetti', 'Rogério Ceni']

- Lista elementos do começo até a posição 2

In [29]:
goleirosSPFC[:3]

['Poy', 'Suly', 'Waldir Peres']

- Lista elementos do início até a penúltima posição

In [30]:
goleirosSPFC[:-1]

['Poy', 'Suly', 'Waldir Peres', 'Gilmar', 'Zetti']

## 2.4 - Manipulando elementos de uma lista

### <font color='gray'> Vamos adicionar um novo professor à lista! </font>

In [31]:
goleiroNovo = input("Qual o nome do professor que será adicionado à lista?\n")
goleirosSPFC.append(goleiroNovo)
print(goleirosSPFC)

Qual o nome do professor que será adicionado à lista?
Erison
['Poy', 'Suly', 'Waldir Peres', 'Gilmar', 'Zetti', 'Rogério Ceni', 'Erison']

### <font color='gray'> Vamos alterar um professor da lista </font>

In [32]:
goleirosSPFC[0] = "King"

## 2.5 - Criando um Dicionário

In [33]:
dict = {"SP":45.92,"RJ":17.26, "MG":21.17, "BA":14.87}

## 2.6 - Recuperando e manipulando elementos de um Dicionário

### <font color='gray'> Vamos recuperar um Valor do dicionário através da Chave </font>

In [35]:
dict["SP"]

45.92

### <font color='gray'> Vamos alterar um valor do dicionário </font>

In [37]:
dict["SP"] = 66.66
dict

{'BA': 14.87, 'MG': 21.17, 'RJ': 17.26, 'SP': 66.66}

## 3.1 - Utilizando algumas das funções pré-existentes

### <font color='gray'> Referência com todas funções pré-existentes no Python </font>
https://docs.python.org/3/library/functions.html

In [38]:
# Utilizar a função help() para descobrir mais informações sobre as funções pré-existentes 
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## 3.2 - Escrevendo uma nova função

### <font color='gray'> Função que verifica se uma string é um palíndromo </font>

In [39]:
def verificarPalindromo(frase):
    # captura o tamanho da frase
    tamanho = len(frase)
    # executa a repetição para a metade do tamanho da string (// é a operação de divisão inteira)
    for i in range(tamanho//2):
        # vai percorrendo a string "para dentro" nos dois sentidos, de acordo com o valor de i
        if frase[i] != frase[(tamanho-1) - i]:
            #interrompe execução caso encontre diferenças
            return False
        # se chegou ao final significa que a string é um palíndromo
    return True

### <font color='gray'> Vamos testar com uma frase a ser digitada! </font>

In [40]:
frase = input("digite string\n")
verificarPalindromo(frase)

digite string
erison

False

## 4.1 - Operação elemento a elemento com o NumPy

### <font color='gray'> O primeiro passo é importar a biblioteca </font>

In [41]:
import numpy as np

### <font color='gray'> Realizando a soma com Listas </font>

In [42]:
notasProva1 = [3.0, 2.5, 4.5]
notasProva2 = [3.5, 2.0, 5.0]
somaListas = notasProva1 + notasProva2
somaListas

[3.0, 2.5, 4.5, 3.5, 2.0, 5.0]

### <font color='gray'> Convertendo as listas para arrays NumPy </font>

In [43]:
arrayProva1 = np.array(notasProva1)
arrayProva2 = np.array(notasProva2)

### <font color='gray'> Realizando a operação por elemento com os NumPy Arrays </font>

In [45]:
somaArrays = arrayProva1 + arrayProva2
somaArrays

array([6.5, 4.5, 9.5])

## 4.2 - Ler um arquivo CSV e criar um Dataframe com o PANDAS

### <font color='gray'> O primeiro passo é importar a biblioteca </font>

In [46]:
import pandas as pd
pd.options.display.max_columns = None

### <font color='gray'> Vamos importar um dataset com as informações dos bairros de SP </font>


https://www.kaggle.com/caiobsilva/sp-district-coordinates#sp_dist.json

In [51]:
# função read_json lê um arquivo no formato json - similar a um dicionário
dfBairros = pd.read_json('/content/sp_dist.json', encoding='utf-8')

### <font color='gray'> a função shape permite ver quantas linhas e colunas a base possui </font>

In [52]:
dfBairros.shape

(96, 4)

### <font color='gray'> columns retorna as colunas presentes na base </font>

In [57]:
dfBairros.columns

Index(['Districts', 'Population', 'Longitude', 'Latitude'], dtype='object')

In [58]:
# Função head() retorna os N primeiros registros
dfBairros.head(5)

       Districts  Population  Longitude   Latitude
1         Grajaú     444.593 -46.665575 -23.785798
2      Sapopemba     296.042 -46.509885 -23.604326
3  Jardim Ângela     291.798 -46.771206 -23.712246
4    Brasilândia     280.069 -46.690269 -23.448272
5  Capão Redondo     275.230 -46.767753 -23.658859

In [59]:
# Função tail() retorna os N primeiros registros
dfBairros.tail(5)

      Districts  Population  Longitude   Latitude
92      Jaguara      24.114 -46.755315 -23.507446
93           Sé      21.564 -46.633446 -23.550443
94         Pari      16.144 -46.615849 -23.532976
95  Barra Funda      12.977 -46.667513 -23.525462
96     Marsilac      10.180 -46.710230 -23.937142

In [60]:
# Com a opção 'display.max_rows' podemos decidir quantos registros aparecem ao apresentar na tela as infos
pd.set_option('display.max_rows', None)
dfBairros.sort_values('Districts', ascending = True)

              Districts  Population  Longitude   Latitude
84    Alto de Pinheiros      39.477 -46.707642 -23.549906
78           Anhanguera      53.266 -46.788534 -23.432908
53           Aricanduva      92.982 -46.511454 -23.578024
42          Artur Alvim     104.864 -46.485265 -23.539221
95          Barra Funda      12.977 -46.667513 -23.525462
77           Bela Vista      57.204 -46.647766 -23.562210
86                Belém      36.283 -46.595039 -23.538476
90           Bom Retiro      28.591 -46.636835 -23.527138
4           Brasilândia     280.069 -46.690269 -23.448272
91                 Brás      26.587 -46.616336 -23.545114
80              Butantã      48.040 -46.708090 -23.571900
23         Cachoeirinha     157.408 -46.663636 -23.449337
89              Cambuci      29.811 -46.613650 -23.566129
72           Campo Belo      62.530 -46.669421 -23.626731
48         Campo Grande      96.756 -46.687226 -23.675548
12          Campo Limpo     216.098 -46.758729 -23.648880
25             Cangaíba     151.538 -46.531425 -23.505900
5         Capão Redondo     275.230 -46.767753 -23.658859
68               Carrão      71.363 -46.537791 -23.551530
65           Casa Verde      75.687 -46.656138 -23.505927
7         Cidade Ademar     248.215 -46.655281 -23.673012
14         Cidade Dutra     203.473 -46.699088 -23.713964
30         Cidade Líder     130.255 -46.494333 -23.562770
11    Cidade Tiradentes     219.868 -46.409207 -23.582497
81           Consolação      44.991 -46.660493 -23.557735
54              Cursino      92.895 -46.619563 -23.632301
34   Ermelino Matarazzo     116.632 -46.484070 -23.491674
28       Freguesia do Ó     138.101 -46.695132 -23.487464
1                Grajaú     444.593 -46.665575 -23.785798
38           Guaianases     111.325 -46.415605 -23.542308
32             Iguatemi     126.645 -46.419028 -23.618271
50             Ipiranga      94.787 -46.606162 -23.589273
62           Itaim Bibi      80.501 -46.678444 -23.584381
8        Itaim Paulista     241.026 -46.399609 -23.501765
15             Itaquera     199.824 -46.455510 -23.536080
13            Jabaquara     212.504 -46.650037 -23.652066
92              Jaguara      24.114 -46.755315 -23.507446
83              Jaguaré      41.628 -46.749499 -23.542036
10              Jaraguá     220.292 -46.739512 -23.455682
24        Jardim Helena     153.634 -46.423410 -23.482284
64      Jardim Paulista      76.033 -46.740504 -22.195211
6       Jardim São Luís     261.586 -46.737762 -23.683573
3         Jardim Ângela     291.798 -46.771206 -23.712246
55               Jaçanã      92.836 -46.582423 -23.463959
40       José Bonifácio     108.366 -46.434767 -23.564091
17              Lajeado     185.184 -46.410022 -23.536248
75                 Lapa      58.924 -46.704349 -23.521576
76            Liberdade      57.860 -46.631809 -23.566703
61                Limão      80.571 -46.675272 -23.503315
43             Mandaqui     101.994 -46.641243 -23.457940
96             Marsilac      10.180 -46.710230 -23.937142
67                Moema      71.459 -46.662888 -23.597085
71                Mooca      63.133 -46.597192 -23.560681
87              Morumbi      32.281 -46.702746 -23.622391
27          Parelheiros     146.212 -46.733078 -23.824791
94                 Pari      16.144 -46.615849 -23.532976
69      Parque do Carmo      69.630 -46.458056 -23.578708
21             Pedreira     158.656 -46.894846 -22.741347
33                Penha     117.691 -46.543782 -23.523683
46             Perdizes      97.706 -46.680671 -23.537930
60                Perus      85.002 -46.743632 -23.408492
73            Pinheiros      61.711 -46.703149 -23.565935
19             Pirituba     163.696 -46.721939 -23.485533
51           Ponte Rasa      93.631 -46.487052 -23.511046
47       Raposo Tavares      96.914 -46.780607 -23.591765
82            República      42.802 -46.642640 -23.544023
35          Rio Pequeno     115.999 -46.769639 -23.579792
9                Sacomã     237.769 -46.602582 -23.601262
70        Santa Cecília      63.689 -46.649028 -23.539094
37              Santana     112.613 -46.624720 -23.502068
74          Santo Amaro      60.373 -46.699890 -23.642515
2             Sapopemba     296.042 -46.509885 -23.604326
39                Saúde     111.308 -46.643393 -23.615178
85              Socorro      36.691 -46.711436 -23.684560
56         São Domingos      90.777 -46.745581 -23.493763
29            São Lucas     136.175 -46.545900 -23.594946
22           São Mateus     158.533 -46.481705 -23.598299
52  São Miguel Paulista      93.187 -46.443666 -23.490554
26           São Rafael     151.017 -46.453241 -23.627159
93                   Sé      21.564 -46.633446 -23.550443
66              Tatuapé      75.481 -46.575009 -23.540891
16             Tremembé     185.731 -45.547526 -22.957140
59             Tucuruvi      88.566 -46.603250 -23.480082
44         Vila Andrade      99.274 -46.726989 -23.625687
20          Vila Curuçá     162.486 -46.417893 -23.510151
58         Vila Formosa      89.510 -46.546323 -23.566876
79       Vila Guilherme      48.407 -46.607962 -23.517097
18           Vila Jacuí     167.965 -46.458717 -23.500294
88      Vila Leopoldina      30.188 -46.734319 -23.530072
41           Vila Maria     107.395 -46.589156 -23.513184
36         Vila Mariana     112.952 -46.634653 -23.589190
45         Vila Matilde      98.173 -46.524605 -23.536179
31        Vila Medeiros     128.692 -46.584496 -23.487707
49        Vila Prudente      96.441 -46.581956 -23.584416
57           Vila Sônia      89.927 -46.739162 -23.599935
63            Água Rasa      78.556 -46.573697 -23.565372

### <font color='gray'> info() mostra os tipos das colunas e se todos os dados estão preenchidos </font>

In [62]:
dfBairros.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 1 to 96
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Districts   96 non-null     object
 1   Population  96 non-null     float64
 2   Longitude   96 non-null     float64
 3   Latitude    96 non-null     float64
dtypes: float64(3), object(1)
memory usage: 3.8+ KB

### <font color='gray'> describe() mostra um resumo estatístico das variáveis numéricas </font>

In [64]:
dfBairros.describe()

       Population  Longitude   Latitude
count   96.000000  96.000000  96.000000
mean   115.099427 -46.610239 -23.536488
std     76.747126   0.154726   0.191037
min     10.180000 -46.894846 -23.937142
25%     62.325250 -46.703449 -23.597389
50%     96.598500 -46.639039 -23.550175
75%    152.062000 -46.542284 -23.507066
max    444.593000 -45.547526 -22.195211

## 4.3 - Recuperar informações de um dataframe com o PANDAS

### <font color='gray'> seleção de dados por coluna </font>

In [65]:
dfBairros['Districts']

1                  Grajaú
2               Sapopemba
3           Jardim Ângela
4             Brasilândia
5           Capão Redondo
6         Jardim São Luís
7           Cidade Ademar
8          Itaim Paulista
9                  Sacomã
10                Jaraguá
11      Cidade Tiradentes
12            Campo Limpo
13              Jabaquara
14           Cidade Dutra
15               Itaquera
16               Tremembé
17                Lajeado
18             Vila Jacuí
19               Pirituba
20            Vila Curuçá
21               Pedreira
22             São Mateus
23           Cachoeirinha
24          Jardim Helena
25               Cangaíba
26             São Rafael
27            Parelheiros
28         Freguesia do Ó
29              São Lucas
30           Cidade Líder
31          Vila Medeiros
32               Iguatemi
33                  Penha
34     Ermelino Matarazzo
35            Rio Pequeno
36           Vila Mariana
37                Santana
38             Guaianases
39                  Saúde
40         José Bonifácio
41             Vila Maria
42            Artur Alvim
43               Mandaqui
44           Vila Andrade
45           Vila Matilde
46               Perdizes
47         Raposo Tavares
48           Campo Grande
49          Vila Prudente
50               Ipiranga
51             Ponte Rasa
52    São Miguel Paulista
53             Aricanduva
54                Cursino
55                 Jaçanã
56           São Domingos
57             Vila Sônia
58           Vila Formosa
59               Tucuruvi
60                  Perus
61                  Limão
62             Itaim Bibi
63              Água Rasa
64        Jardim Paulista
65             Casa Verde
66                Tatuapé
67                  Moema
68                 Carrão
69        Parque do Carmo
70          Santa Cecília
71                  Mooca
72             Campo Belo
73              Pinheiros
74            Santo Amaro
75                   Lapa
76              Liberdade
77             Bela Vista
78             Anhanguera
79         Vila Guilherme
80                Butantã
81             Consolação
82              República
83                Jaguaré
84      Alto de Pinheiros
85                Socorro
86                  Belém
87                Morumbi
88        Vila Leopoldina
89                Cambuci
90             Bom Retiro
91                   Brás
92                Jaguara
93                     Sé
94                   Pari
95            Barra Funda
96               Marsilac
Name: Districts, dtype: object

### <font color='gray'> seleção de múltiplas colunas </font>

In [66]:
dfBairros[['Latitude', 'Longitude']]

     Latitude  Longitude
1  -23.785798 -46.665575
2  -23.604326 -46.509885
3  -23.712246 -46.771206
4  -23.448272 -46.690269
5  -23.658859 -46.767753
6  -23.683573 -46.737762
7  -23.673012 -46.655281
8  -23.501765 -46.399609
9  -23.601262 -46.602582
10 -23.455682 -46.739512
11 -23.582497 -46.409207
12 -23.648880 -46.758729
13 -23.652066 -46.650037
14 -23.713964 -46.699088
15 -23.536080 -46.455510
16 -22.957140 -45.547526
17 -23.536248 -46.410022
18 -23.500294 -46.458717
19 -23.485533 -46.721939
20 -23.510151 -46.417893
21 -22.741347 -46.894846
22 -23.598299 -46.481705
23 -23.449337 -46.663636
24 -23.482284 -46.423410
25 -23.505900 -46.531425
26 -23.627159 -46.453241
27 -23.824791 -46.733078
28 -23.487464 -46.695132
29 -23.594946 -46.545900
30 -23.562770 -46.494333
31 -23.487707 -46.584496
32 -23.618271 -46.419028
33 -23.523683 -46.543782
34 -23.491674 -46.484070
35 -23.579792 -46.769639
36 -23.589190 -46.634653
37 -23.502068 -46.624720
38 -23.542308 -46.415605
39 -23.615178 -46.643393
40 -23.564091 -46.434767
41 -23.513184 -46.589156
42 -23.539221 -46.485265
43 -23.457940 -46.641243
44 -23.625687 -46.726989
45 -23.536179 -46.524605
46 -23.537930 -46.680671
47 -23.591765 -46.780607
48 -23.675548 -46.687226
49 -23.584416 -46.581956
50 -23.589273 -46.606162
51 -23.511046 -46.487052
52 -23.490554 -46.443666
53 -23.578024 -46.511454
54 -23.632301 -46.619563
55 -23.463959 -46.582423
56 -23.493763 -46.745581
57 -23.599935 -46.739162
58 -23.566876 -46.546323
59 -23.480082 -46.603250
60 -23.408492 -46.743632
61 -23.503315 -46.675272
62 -23.584381 -46.678444
63 -23.565372 -46.573697
64 -22.195211 -46.740504
65 -23.505927 -46.656138
66 -23.540891 -46.575009
67 -23.597085 -46.662888
68 -23.551530 -46.537791
69 -23.578708 -46.458056
70 -23.539094 -46.649028
71 -23.560681 -46.597192
72 -23.626731 -46.669421
73 -23.565935 -46.703149
74 -23.642515 -46.699890
75 -23.521576 -46.704349
76 -23.566703 -46.631809
77 -23.562210 -46.647766
78 -23.432908 -46.788534
79 -23.517097 -46.607962
80 -23.571900 -46.708090
81 -23.557735 -46.660493
82 -23.544023 -46.642640
83 -23.542036 -46.749499
84 -23.549906 -46.707642
85 -23.684560 -46.711436
86 -23.538476 -46.595039
87 -23.622391 -46.702746
88 -23.530072 -46.734319
89 -23.566129 -46.613650
90 -23.527138 -46.636835
91 -23.545114 -46.616336
92 -23.507446 -46.755315
93 -23.550443 -46.633446
94 -23.532976 -46.615849
95 -23.525462 -46.667513
96 -23.937142 -46.710230

### <font color='gray'> seleção de múltiplas linhas </font>

In [67]:
dfBairros.loc[3:20]

            Districts  Population  Longitude   Latitude
3       Jardim Ângela     291.798 -46.771206 -23.712246
4         Brasilândia     280.069 -46.690269 -23.448272
5       Capão Redondo     275.230 -46.767753 -23.658859
6     Jardim São Luís     261.586 -46.737762 -23.683573
7       Cidade Ademar     248.215 -46.655281 -23.673012
8      Itaim Paulista     241.026 -46.399609 -23.501765
9              Sacomã     237.769 -46.602582 -23.601262
10            Jaraguá     220.292 -46.739512 -23.455682
11  Cidade Tiradentes     219.868 -46.409207 -23.582497
12        Campo Limpo     216.098 -46.758729 -23.648880
13          Jabaquara     212.504 -46.650037 -23.652066
14       Cidade Dutra     203.473 -46.699088 -23.713964
15           Itaquera     199.824 -46.455510 -23.536080
16           Tremembé     185.731 -45.547526 -22.957140
17            Lajeado     185.184 -46.410022 -23.536248
18         Vila Jacuí     167.965 -46.458717 -23.500294
19           Pirituba     163.696 -46.721939 -23.485533
20        Vila Curuçá     162.486 -46.417893 -23.510151

### <font color='gray'> seleção por um critério de busca </font>

In [68]:
dfBairros['Population']

1     444.593
2     296.042
3     291.798
4     280.069
5     275.230
6     261.586
7     248.215
8     241.026
9     237.769
10    220.292
11    219.868
12    216.098
13    212.504
14    203.473
15    199.824
16    185.731
17    185.184
18    167.965
19    163.696
20    162.486
21    158.656
22    158.533
23    157.408
24    153.634
25    151.538
26    151.017
27    146.212
28    138.101
29    136.175
30    130.255
31    128.692
32    126.645
33    117.691
34    116.632
35    115.999
36    112.952
37    112.613
38    111.325
39    111.308
40    108.366
41    107.395
42    104.864
43    101.994
44     99.274
45     98.173
46     97.706
47     96.914
48     96.756
49     96.441
50     94.787
51     93.631
52     93.187
53     92.982
54     92.895
55     92.836
56     90.777
57     89.927
58     89.510
59     88.566
60     85.002
61     80.571
62     80.501
63     78.556
64     76.033
65     75.687
66     75.481
67     71.459
68     71.363
69     69.630
70     63.689
71     63.133
72     62.530
73     61.711
74     60.373
75     58.924
76     57.860
77     57.204
78     53.266
79     48.407
80     48.040
81     44.991
82     42.802
83     41.628
84     39.477
85     36.691
86     36.283
87     32.281
88     30.188
89     29.811
90     28.591
91     26.587
92     24.114
93     21.564
94     16.144
95     12.977
96     10.180
Name: Population, dtype: float64

### <font color='gray'> ajustar coluna de população - tratar o ponto separador </font>

In [74]:
# converte dados de população para STRING
dfBairros['Population'] = dfBairros['Population'].astype(str)

In [75]:
# retira o ponto separador de cada registro
dfBairros['Population'] = dfBairros['Population'].str.replace('.', '')

In [76]:
dfBairros['Population']

1     444593
2     296042
3     291798
4     280069
5      27523
6     261586
7     248215
8     241026
9     237769
10    220292
11    219868
12    216098
13    212504
14    203473
15    199824
16    185731
17    185184
18    167965
19    163696
20    162486
21    158656
22    158533
23    157408
24    153634
25    151538
26    151017
27    146212
28    138101
29    136175
30    130255
31    128692
32    126645
33    117691
34    116632
35    115999
36    112952
37    112613
38    111325
39    111308
40    108366
41    107395
42    104864
43    101994
44     99274
45     98173
46     97706
47     96914
48     96756
49     96441
50     94787
51     93631
52     93187
53     92982
54     92895
55     92836
56     90777
57     89927
58      8951
59     88566
60     85002
61     80571
62     80501
63     78556
64     76033
65     75687
66     75481
67     71459
68     71363
69      6963
70     63689
71     63133
72      6253
73     61711
74     60373
75     58924
76      5786
77     57204
78     53266
79     48407
80      4804
81     44991
82     42802
83     41628
84     39477
85     36691
86     36283
87     32281
88     30188
89     29811
90     28591
91     26587
92     24114
93     21564
94     16144
95     12977
96      1018
Name: Population, dtype: object

In [77]:
# converte os dados para o tipo Inteiro
dfBairros['Population'] = dfBairros['Population'].astype(int)

In [78]:
# verificar como o dataframe ficou
dfBairros.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 1 to 96
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Districts   96 non-null     object
 1   Population  96 non-null     int64
 2   Longitude   96 non-null     float64
 3   Latitude    96 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ KB

### <font color='gray'> busca dados utilizando a população como um critério de busca </font>

In [82]:
dfBairros.loc[dfBairros['Population'] > 150000]

            Districts  Population  Longitude   Latitude
1              Grajaú      444593 -46.665575 -23.785798
2           Sapopemba      296042 -46.509885 -23.604326
3       Jardim Ângela      291798 -46.771206 -23.712246
4         Brasilândia      280069 -46.690269 -23.448272
6     Jardim São Luís      261586 -46.737762 -23.683573
7       Cidade Ademar      248215 -46.655281 -23.673012
8      Itaim Paulista      241026 -46.399609 -23.501765
9              Sacomã      237769 -46.602582 -23.601262
10            Jaraguá      220292 -46.739512 -23.455682
11  Cidade Tiradentes      219868 -46.409207 -23.582497
12        Campo Limpo      216098 -46.758729 -23.648880
13          Jabaquara      212504 -46.650037 -23.652066
14       Cidade Dutra      203473 -46.699088 -23.713964
15           Itaquera      199824 -46.455510 -23.536080
16           Tremembé      185731 -45.547526 -22.957140
17            Lajeado      185184 -46.410022 -23.536248
18         Vila Jacuí      167965 -46.458717 -23.500294
19           Pirituba      163696 -46.721939 -23.485533
20        Vila Curuçá      162486 -46.417893 -23.510151
21           Pedreira      158656 -46.894846 -22.741347
22         São Mateus      158533 -46.481705 -23.598299
23       Cachoeirinha      157408 -46.663636 -23.449337
24      Jardim Helena      153634 -46.423410 -23.482284
25           Cangaíba      151538 -46.531425 -23.505900
26         São Rafael      151017 -46.453241 -23.627159

In [83]:
# seleção através de um critério de busca - texto
dfBairros.loc[dfBairros['Districts'] == 'Jabaquara']

    Districts  Population  Longitude   Latitude
13  Jabaquara      212504 -46.650037 -23.652066

In [84]:
# utilização do OR '|' para trazer mais de um bairro 
dfBairros.loc[(dfBairros['Districts'] == 'Jabaquara') | (dfBairros['Districts'] == 'Grajaú')]

    Districts  Population  Longitude   Latitude
1      Grajaú      444593 -46.665575 -23.785798
13  Jabaquara      212504 -46.650037 -23.652066